.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 3.5em;
}

footer {
    padding: 1em 1em 1em;
    background-color: yellow;
    margin-bottom: 0;
    margin-top: 1em;
}

.center {
    text-align: center;
}

.card-hotel {
    /* 1 crecimiento, indica flex-grow
    el segundo parametro indica el ancho*/
    flex: 1 150px;
    /*padding: 2px 5px 2px 5px;*/
    margin-top: 1em;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.icons-general {
    padding-right: 10px;
}

.card-img {
    width: 20px;
    height: 20px;
}

#banner {
    margin-bottom: 1em;
}

#jumbo {
    margin-bottom: 0em;
}

.tab-content {
    margin-top: 2em;
}

#hola {
    background-color: white;
    color: lawngreen;
    border-color: lawngreen;
}